In [1]:
import pandas as pd

In [2]:
algeria = pd.read_csv("C:/Users/Johnny/Downloads/Algerian_forest_fires_dataset_UPDATE.csv")

In [3]:
portugal = pd.read_csv("C:/Users/Johnny/Downloads/forestfires.csv")

In [8]:
algeria[0:-5]

                                                                        Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC  DC    ISI  BUI  FWI               Classes
01  06    2012 29          57  18  0     65.7 3.4  7.6   1.3  3.4  0.5             not fire
02  06    2012 29          61  13  1.3   64.4 4.1  7.6   1    3.9  0.4             not fire
03  06    2012 26          82  22  13.1  47.1 2.5  7.1   0.3  2.7  0.1             not fire
04  06    2012 25          89  13  2.5   28.6 1.3  6.9   0    1.7  0               not fire
...                                                                                        ...
21  09    2012 35          34  17  0     92.2 23.6 97.3  13.8 29.4 21.6                fire
22  09    2012 33          64  13  0     88.9 26.1 106.3 7.1  32.4 13.7                fire
23  09    2012 35          56  14  0     89   29.4 115.6 7.5  36   15.2                fire
24  09    2012 26          49  6   2     61.3 11.9 28.1  0.6  11.9 0.4             not fire
25  09    2012 28          70  15  0     79.9 13.8 36.1  2.4  14.1 3               not fire

[242 rows x 1 columns]

In [6]:
portugal[0:-5]

     X  Y month  day  FFMC    DMC     DC  ISI  temp  RH  wind  rain  area
0    7  5   mar  fri  86.2   26.2   94.3  5.1   8.2  51   6.7   0.0  0.00
1    7  4   oct  tue  90.6   35.4  669.1  6.7  18.0  33   0.9   0.0  0.00
2    7  4   oct  sat  90.6   43.7  686.9  6.7  14.6  33   1.3   0.0  0.00
3    8  6   mar  fri  91.7   33.3   77.5  9.0   8.3  97   4.0   0.2  0.00
4    8  6   mar  sun  89.3   51.3  102.2  9.6  11.4  99   1.8   0.0  0.00
..  .. ..   ...  ...   ...    ...    ...  ...   ...  ..   ...   ...   ...
507  2  4   aug  fri  91.0  166.9  752.6  7.1  25.9  41   3.6   0.0  0.00
508  1  2   aug  fri  91.0  166.9  752.6  7.1  25.9  41   3.6   0.0  0.00
509  5  4   aug  fri  91.0  166.9  752.6  7.1  21.1  71   7.6   1.4  2.17
510  6  5   aug  fri  91.0  166.9  752.6  7.1  18.2  62   5.4   0.0  0.43
511  8  6   aug  sun  81.6   56.7  665.6  1.9  27.8  35   2.7   0.0  0.00

[512 rows x 13 columns]